services:
  db:
    image: "postgres:16.11-alpine"
    container_name: database
    ports:
      - 5432:5432
    env_file:
      - ./.env
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - db_volume:/var/lib/postgresql/data
    restart: unless-stopped


volumes:
  db_volume:
    name: db_volume
