services:
  postgres:
    image: "postgres:16.11-alpine"
    container_name: fastapi-db
    ports:
      - 5432:5432
    env_file:
      - ./.env
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - db_data:/var/lib/postgresql/data
    restart: unless-stopped
    networks:
      - fastapi-net
    healthcheck:
      test: "pg_isready -d ${DB_USER} -U ${DB_USER}"
      interval: 5m
      timeout: 5s
      retries: 3
      # requires Docker Engine version 25.0 or later
      start_period: 20s
      start_interval: 5s
  fastapi:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: fastapi
    ports:
      - 8000:8000
    env_file:
      - ./.env
    depends_on:
      postgres:
        condition: service_healthy
    restart: unless-stopped
    networks:
      - fastapi-net

networks:
  fastapi-net:
    name: fastapi-net

volumes:
  db_data:
    name: db_data